extends layout 

block main
  h1 Request Bucket!
  img(id='bucket' src='./images/bucket.png')
  form(id="home-form" action="/create-bin" method="POST")
    input(type="submit", value="Create New Bucket")

  p Remember to keep track of your endpoints
  p Use your endpoint like so: #{url}/your-end-point-here
     