doctype html

html(lang="en-US")

  head
    title Request Bucket
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/app.css")

  body 
    block main
      main
        p this is the main part of the page
  
